@media only screen and (min-width: 992px)
{
    .titre_menu
    {
        padding-top: 3rem;
    }

    .menu{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        align-items: center;
        justify-content: space-between;
    }

    .titre_plat
    {
        padding-top: 2%;
    }

    .coeur i
    {
        top: 4rem;
    }

    .card_plat{
        position: relative;
    }

    footer
    {
        padding: 3%;
        background-color: #353535;
        color: white;
    }
}