
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Eléments principaux de la page */

.centre
{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'Shrikhand', cursive;
}

h2 {
    font-family: 'Roboto', cursive;
    font-weight: 700;
    font-size: 20px;
}

h3 {
    font-family: 'Roboto', cursive;
    font-weight: 600;
    font-size: 14px;
}

p {
    font-family: 'Roboto', cursive;
    font-weight: 300;
    font-size: 14px;
}

a
{
    text-decoration:none;
    color: black;
}

/* Header */

.logo
{
    margin-top: 5%;
    margin-bottom: 3%;
}

.logo img
{
    width: 50%;

}

.bloc_localisation
{
    background-color: #eaeaea;
}

.texte_localisation
{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    height: 30px;
    margin-left: 25%;
}


header i
{
    display: inline block;
    width: 40px;
}

/* Titre Principal*/

.titre_principal
{
    background-color: #f6f6f6;
    text-align:center;
    padding-bottom: 60px;
}

.bloc_texte
{
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%;
    flex-direction: column;
}

.bouton_violet
{
    width:200px;
    line-height:25px;
    border-radius: 30px 30px 30px 30px;
    background: #9356DC;
    color:white;
    text-decoration:none;
    border: none;
    margin-top: 20px;
}

.bouton_violet :hover 
{
        color: black;
}

/* Fonctionnement*/

.bloc_fonctionnement
{
    padding-left: 7%;
    padding-right: 3%;
    padding-top: 5%;
}

.cards_fonctionnement
{
    width:100%;
    line-height:60px;
    border-radius: 15px 15px 15px 15px;
    background-color: #f6f6f6;
    box-shadow: 5px 5px 10px #e2e0e0;
    margin-bottom: 20px;
    flex-direction: row;
}

.cards_fonctionnement :hover
{
    background-color: rgb(235, 226, 244);
    border-radius: 15px 15px 15px 15px;
}

.cards_fonctionnement i
{
    display: inline block;
    width: 50px;
    color: gray;
}

/*.cards_fonctionnement:hover > .cards_fonctionnement i 
{
    color:#9356DC;
}
.cards_fonctionnement i :hover
{
    color: #9356DC;
} */

.cards_fonctionnement a
{
    font-family: 'Roboto', cursive;
    font-weight: 600;
    font-size: 14px;
}

.ligne_fonctionnement
{
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
}

.bulle_chiffre
{
    width: 20px;
    line-height: 20px;
    border-radius: 20px;
    background-color: #9356DC;
    color:white;
    font-family: 'Roboto', cursive;
    font-size: 12px;
    display: flex;
    justify-content: center;
    margin-left: -10px;
}

/* Restaurants*/

.bloc_restaurants
{
    background-color: #f6f6f6;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 10%;
}

.cards_accueil
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card_restaurants
{
    height: 200px;
    
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 10px #e2e0e0;
    margin-bottom: 5%;
}

.img_restaurants
{
    width: 100%;
    height: 70%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    object-position: center;
}

.texte_restaurants
{
    line-height: 5px;
    padding-left: 10px;
}

.ligne_cards
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.coeur
{
    margin-bottom: 5%;
    display: flex;
    align-items: center;
    margin-right: 8%;
    margin-top: 2%;
}

.coeur_plein
{
    display: none;
    color: #9356DC;
    margin-bottom: 5%;
    align-items: center;
    margin-right: 8%;
    margin-top: 2%;
}

.coeur:hover > .coeur_plein 
{
    display: flex;
}

/* Footer*/

footer
{
    padding: 8%;
    padding-bottom: 10%;;
    background-color: #353535;
    color: white;
}

footer a
{
    color: white;
    font-size: 10px;
    font-family: 'Roboto', cursive;
    font-weight: 400;
}

footer h1
{
    font-size: 12px;
}

footer i
{
    display: inline block;
    width: 18px;
}

.menu_footer
{
    line-height: 18px;
    color: white;
    display: flex;

    flex-direction: column;
}

