
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*loader*/

  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: disparition 0.5s linear;
    animation-delay: 2s;
    animation-fill-mode: both;
    width: 99vw;
    height: 100vh;
  }

.loader_animation {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #9356DC;
    width: 120px;
    height: 120px;
    animation: rotation 1s linear infinite;
    position: absolute;
    }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes disparition {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      position: absolute;
    }
  }

  @keyframes apparition {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/* Eléments principaux de la page */

.centre {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-family: 'Roboto', cursive;
    font-weight: 700;
    font-size: 20px;
}

h2 {
    font-family: 'Roboto', cursive;
    font-weight: 700;
    font-size: 20px;
}

h3 {
    font-family: 'Roboto', cursive;
    font-weight: 600;
    font-size: 14px;
}

p {
    font-family: 'Roboto', cursive;
    font-weight: 300;
    font-size: 14px;
}

a {
    text-decoration:none;
    color: black;
}

.main_body {
  animation: apparition 2s linear;
  animation-delay: 2s;
  animation-fill-mode: both;
}

/* Header */

.logo {
    height: 60px;
    padding-top: 0.5rem;
}

.logo img {
    height: 50%;

}

.bloc_localisation {
    background-color: #eaeaea;
    box-shadow:inset 0px 17px 10px -13px #cccccc;
}

.texte_localisation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    line-height: 30px;
}


header i {
    width: 40px;
}

/* Titre Principal*/

.titre_principal {
    background-color: #f6f6f6;
    text-align:center;
    padding-bottom: 60px;
}

.bloc_texte {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%;
    flex-direction: column;
}

.bouton_violet {
    width: 15rem;
    line-height:50px;
    font-family: 'Roboto', cursive;
    font-size: 14px;
    border-radius: 30px 30px 30px 30px;
    background: linear-gradient(#FF79DA, #9356DC);
    color:white;
    text-decoration:none;
    border: none;
    margin-top: 20px;
    box-shadow: 2px 5px 3px #e2e0e0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.bouton_violet:hover {
        color: black;
        filter: brightness(1.1);
        box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}

/* Fonctionnement*/

.bloc_fonctionnement {
    padding-left: 7%;
    padding-right: 3%;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.card_fonctionnement {
    width:100%;
    line-height:60px;
    border-radius: 15px 15px 15px 15px;
    background-color: #f6f6f6;
    box-shadow: 5px 5px 10px #e2e0e0;
    margin-bottom: 20px;
    flex-direction: row;
    position: relative;
}

.card_fonctionnement:hover {
    background-color: rgb(235, 226, 244);
    border-radius: 15px 15px 15px 15px;
}

.card_fonctionnement i {
    width: 50px;
    color: gray;
    margin-left: 3%;
}

.card_fonctionnement:hover .fa-mobile-screen-button {
    color:#9356DC;
}

.card_fonctionnement:hover .fa-list-ul {
    color:#9356DC;
}

.card_fonctionnement:hover .fa-store {
    color:#9356DC;
}

.card_fonctionnement a {
    font-family: 'Roboto', cursive;
    font-weight: 600;
    font-size: 14px;
}

.ligne_fonctionnement {
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
}

.bulle_chiffre {
    width: 20px;
    line-height: 20px;
    border-radius: 20px;
    background-color: #9356DC;
    color:white;
    font-family: 'Roboto', cursive;
    font-size: 12px;
    display: flex;
    justify-content: center;
    position: absolute;
    left: -0.7rem;
    align-items: center;
}

/* Restaurants*/

.bloc_restaurants {
    background-color: #f6f6f6;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 10%;
}

.cards_accueil {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card_restaurants {
    height: 200px;
    position: relative;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 5px 5px 10px #e2e0e0;
    margin-bottom: 5%;
    transition: filter 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card_restaurants:hover {
    filter: brightness(1.1);
    box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px, rgb(0 0 0 / 30%) 0px 18px 36px -18px;
}

.img_restaurants {
    width: 100%;
    height: 70%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    object-position: center;
}

.nouveau {
    background-color: #99e2d0 ;
    color:#0a8d6d;
    width: 60px;
    height: 20px;
    border-radius: 2px 2px 2px 2px;
    font-family: 'Roboto', cursive;
    font-weight: 700;
    font-size: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.texte_restaurants {
    line-height: 5px;
    padding-left: 10px;
}

.ligne_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.coeur i {
    position: absolute;
    right: 5%;
    margin-top: 12px;
    font-size: 1.2rem;
}

.coeur_plein {
    color: transparent;
    background: -webkit-linear-gradient(#FF79DA, #9356DC);
    background-size: 100%;
    background-clip:text;
    -webkit-background-clip:text;
    opacity: 0;
}

.coeur:hover > .coeur_plein {
    opacity: 1;
}

/* Footer*/

footer {
    padding: 1.2rem;
    padding-bottom: 2rem;
    background-color: #353535;
    color: white;
}

footer a {
    color: white;
    font-size: 0.8rem;
    font-family: 'Roboto', cursive;
    font-weight: 400;
}

footer p {
    font-family: 'Shrikhand', cursive;
    font-size: 1rem;
    margin-top: 0;
}

footer i {
    width: 18px;
}

.menu_footer {
    line-height: 18px;
    color: white;
    display: flex;
    flex-direction: column;
}

